:root {
  --fade-in--animation-duration: 2s;
}

.fade-in {
  animation: fade-in var(--fade-in--animation-duration) ease-out forwards;
}

.fade-out {
  animation: fade-out var(--fade-in--animation-duration) ease-out forwards;
}

.animation-duration-short {
  animation-duration: 0.25s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
