.button,
.icon-button {
  cursor: pointer;

  background: transparent;
  border: none;
}

.button {
  background: var(--color-hunter-green);
  color: var(--secondary-text-color);
  padding: 0.125rem 1rem;

  font-family: inherit;

  border-radius: 3px;
}

.icon-button {
  color: var(--primary-text-color);
}
