:root {
  --minimum-size: 175px;
  --maximum-size: 250px;
}

#breathing-box__wrapper {
  height: var(--maximum-size);
  width: var(--maximum-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
#breathing-box {
  border-radius: 50%;

  animation-name: breathing;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-composition: add;

  background: radial-gradient(
    circle,
    var(--color-dust-grey),
    var(--color-fern)
  );
}

@keyframes breathing {
  0% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
  25% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  50% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  75% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
  100% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
}
