#breathing-duration-selector__wrapper input {
  width: 0;
  position: absolute;
}

#breathing-duration-selector__wrapper input:focus {
  outline: none;
}

#breathing-duration-selector__wrapper:has(input:focus-visible) {
  outline: 2px solid Highlight;
}

#breathing-duration-selector__wrapper label {
  padding: 0.125rem 1rem;
  cursor: pointer;
}

#breathing-duration-selector__wrapper label.checked {
  position: relative;
}
#breathing-duration-selector__wrapper label.checked::after {
  content: "";
  display: inline-block;
  position: absolute;

  height: 7px;
  width: 75%;
  left: 12.5%;
  bottom: 3px;

  background: var(--color-hunter-green);
  opacity: 0.25;
}
