:root {
  --minimum-size: 200px;
  --maximum-size: 275px;
}

#breathing-box__wrapper {
  height: var(--maximum-size);
  width: var(--maximum-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
#breathing-box {
  border-radius: 50%;

  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-composition: add;

  background: radial-gradient(
    circle,
    var(--color-dust-grey),
    var(--color-fern)
  );

  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
}

#breathing-box {
  transition: 0.5s transform ease-in-out;
}
#breathing-box.inactive:hover {
  transform: scale(1.1);
}

#breathing-box {
  position: relative;
}
#breathing-box::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  border-radius: 50%;
  border: 2px solid var(--color-fern);
  box-sizing: border-box;

  height: 99%;
  width: 99%;
  left: 0.5%;
  top: 0.5%;

  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  animation-duration: 3s;
}

#breathing-box.active::after {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes ripple {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes four-four-four-four__breathing {
  0% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
  /* 4 / (4 + 4 + 4 + 4) */
  25% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  /* 2 * (4 / (4 + 4 + 4 + 4)) */
  50% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  /* 3 * (4 / (4 + 4 + 4 + 4)) */
  75% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
  /* 4 * (4 / (4 + 4 + 4 + 4)) */
  100% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
}

@keyframes four-seven-eight__breathing {
  0% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
  /* 4 / (4 + 7 + 8) */
  21.05% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  /* (4 / (4 + 7 + 8)) + (7 / (4 + 7 + 8)) */
  57.89% {
    height: var(--maximum-size);
    width: var(--maximum-size);
  }
  /* (4 / (4 + 7 + 8)) + (7 / (4 + 7 + 8)) + (8 / (4 + 7 + 8)) */
  100% {
    height: var(--minimum-size);
    width: var(--minimum-size);
  }
}
