#breathing-duration-selector__wrapper input {
  width: 0;
  position: absolute;
}

#breathing-duration-selector__wrapper input:focus {
  outline: none;
}

#breathing-duration-selector__wrapper:has(input:focus-visible) {
  outline: 2px solid Highlight;
}

#breathing-duration-selector__wrapper label {
  padding: 0.125rem 1rem;
  cursor: pointer;
}

#breathing-duration-selector__wrapper label.checked {
  text-decoration: underline;
}
