#streak-counter {
  font-size: 1.25rem;

  display: flex;
  align-items: center;
}

#streak-counter svg {
  fill: var(--color-fern);
}

#streak-counter {
  font-size: 1.25rem;
}

#streak-counter svg {
  width: 1.25rem;
  height: 1.25rem;
}

#streak-counter {
  overflow-y: hidden;
}

#streak-counter #count.vanish {
  --streak-counter-count-vanish--animation-delay: var(
    --fade-in--animation-duration
  );

  animation: number-vanish 0.5s ease-out forwards
    var(--streak-counter-count-vanish--animation-delay);
}

#streak-counter #count.appear {
  animation: number-appear 0.75s ease-out forwards;
}

/* 
* Be careful renaming this animation, since it may be referenced in a component!
* TODO: Find a way to use shared naming. 
*/
@keyframes number-vanish {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes number-appear {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
