@import "./styles/buttons.css";
@import "./styles/utilities.css";
@import "./styles/fonts.css";
@import "./styles/animations.css";

:root {
  /* https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41 */
  --color-dust-grey: #dad7cdff;
  --color-dry-sage: #a3b18aff;
  --color-fern: #588157ff;
  --color-hunter-green: #3a5a40ff;
  --color-pine-teal: #344e41ff;

  --background-color: var(--color-dust-grey);
}

/* Resets */
body {
  margin: 0;
}

body {
  height: 100dvh;

  background: radial-gradient(
    circle,
    var(--color-dust-grey),
    var(--color-dry-sage)
  );
}

body {
  font-family: "Funnel Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
